html {
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.58;
}

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: #e8e8e8;
}

body > header {
    border-bottom: .1em solid #aaa;
    background-color: #444;
    font-family: monospace;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

body > header h1 {
    margin-bottom: 30px;
}

body > header h1 a {
    color: lightgreen;
    font-size: 1.5em;
}

body > header nav {
    font-size: 1em;
}

body > header nav a {
    color: #fff;
}

body > footer {
    color: #aaa;
    padding: 10px;
    text-align: center;
}

main {
    max-width: 90%;
    width: 900px;
    margin: 0 auto;
}

article {
    padding: 20px;
    background-color: white;
    margin: 30px 0;
    box-shadow: 0 0 0 0, 0 6px 12px rgba(34, 34, 34, 0.1);
}

article > header {
    margin-bottom: 1em;
}

article > header time {
    color: #aaa;
    text-transform: uppercase;
}

article p {
    font-size: 1em;
    line-height: 1.5;
    margin-top: 1.2em;
}

article ol, ul {
    margin: 1em;
}

.highlighter-rouge {
    background-color: #444;
    padding: 1em;
}

pre {
    overflow: auto;
}

@media screen and (max-width: 500px) {
    body > header h1 a {
        color: lightgreen;
        font-size: .75em;
    }
}
